@{
    ViewBag.Title = "OM LMS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Välkommen till Lexicon Management System. Syftet med detta system är att ha en fullständig och ordnad kontroll över kurserna Lexicon erbjuder liksom alla lärare och elever som deltar i skapandet och deltagande av kurserna.</p>
