@{
    ViewBag.Title = "Om LMS";
}
<h2> @ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p> (L)exicon (M)anagement (S)ystem. Syftet med detta system är att ha en fullständig och ordnad kontroll över kurserna Lexicon erbjuder, liksom alla lärare och elever som deltar i skapandet och deltagande av kurserna.</p>
<br /><br />
<p> Som lärare kan du hantera grupperna och deras olika kurser 
    och de olika aktiviteter som en kurs kan ha.</p>
<br /><br />
<p> Som student kan du se information om den grupp du deltar, kurser som ingår i gruppen och de olika aktiviteter i varje kurs.</p>
