@using LMS.Models
@model LMS.Models.Group
@{
    ViewBag.Title = "Index";
}
<h4>Deltagare</h4>
@if (ViewBag.IsAdministrator == true)
{
    <p>
        @Html.ActionLink("Lägg till en ny student", "Register", "Account", new { id = Model.Id }, null)
    </p>
}
<table class="table">

    <tr>
        <th>Elevnamn</th>
    </tr>
    @foreach (var user in Model.Users.ToList().OrderBy(u => u.FirstName))
    {
        <tr>
            <td>
                @Html.ActionLink(user.FirstName + " " + user.LastName, "UserDetails", "Account", new { id = user.Id }, null)
            </td>
            @if (ViewBag.IsAdministrator == true)
            {
                <td>
                    @Html.ActionLink("Redigera", "EditUser", "Account", new { id = user.Id }, null) |
                    @Html.ActionLink("Radera", "DeleteUser", "Account", new { id = user.Id }, null)
                </td>
            }
        </tr>
    }
</table>



@*<h4>Gruppdeltagare</h4>*@
@*@model IEnumerable<lms.models.applicationuser>*@
@*@{Html.RenderAction("UsersInGroup", "Groups");}*@
@*@Html.Partial("_UsersInGroupPartial", TempData["ApplicationUsers"])*@
