@using LMS.Models
@model LMS.Models.Group
@{
    ViewBag.Title = "Index";
}
<h4>Deltagare</h4>
<p>
    @Html.ActionLink("Lägg till en ny student", "Register", "Account", new { id = Model.Id }, null)
</p>

<table class="table">

    <tr>
        <th>Elevnamn</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                @Html.ActionLink(user.FirstName + " " + user.LastName, "UserDetails", "Account", new { id = user.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Redigera", "EditUser", "Account", new { id = user.Id }, null) |
                @Html.ActionLink("Radera", "DeleteUser", "Account", new { id = user.Id }, null)
            </td>
        </tr>
    }
</table>
